{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "jest"
  ],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "semi": "error"
  }
}